/*1 - Form*/

.form-fieldset{
  font-family: inherit;
	margin-bottom: 1em;
}
.legenda{
	font-weight: bolder;
}

/* 1.2 Form Field*/

.formulario{
	padding: .5em;
	border-radius: 5px;
	transition: .8s;
	font-family: inherit;
	font-size: .9em;
}
.formulario:focus{
	box-shadow: 0 0 5px rgba(0,0,0,.8);
	background-color: rgba(255,255,155,.5);
}

/* 1.2.1 Form Field Size*/

.campo-grande{
	width: 100%;
}
.campo-pequeno{
	width: 30%;
}
.textarea{
	padding: .2em;
	border-radius: 5px;
}

/* 1.2.2 Form Field Dynamic*/

input[value="Outro"] ~ input{
	opacity: 0;
	transition: .8s;
}

input[value="Outro"]:checked ~ input{
	display: inline-block;
	opacity: 1;
}

/* 1.2.3 Form Field Icon*/

.com-icone::after {
  content: '';
	position: absolute;
  top: 1.40em;
  left: 0;
  width: 2.3em;
  height: 2.35em;
	border-radius: 10px 2px  2px 10px;
  background-color: rgb(20,20,150);
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
}
.user::after{
	  background-image: url(../imagens/usuario.png);
}
.email::after{
		  background-image: url(../imagens/email.png);
}
.com-icone {
  position: relative;
}
.com-icone + input {
  position: relative;
  left: 2.6em;
	width: calc(100% - 2.6em);
}

/* 1.4 Form Button*/

.botao{
	position:absolute;
	text-align:center;
	background-color: rgb(20,20,150);
	color: white;
	font-weight: bolder;
	padding: 1em;
	font-size: 1.2em;
	width: 12em;
	margin-left: 35%;
	font-family: "Open Sans Condensed", sans-serif;
}