/*0 - General*/

html,body{
    overflow-x: hidden;
    height: 100%;
}
body{
	  display: block;
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

/* 1 - Header*/

.foto-home{
  height: 200px;
	border-radius: 50%;
	box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
}
.titulo-principal{
    position: relative;
		text-shadow: 2px 2px 5px rgb(0,0,0);
}
.banner{
	box-sizing: border-box;
	line-height: 1;
	width: 14em;
	height: 3.5em;
	border: .2em solid #000;
	color:#FFF;
	text-decoration:none;
	font-size:1.2em;
	position:absolute;
	transform-origin:0 0;
	background: rgb(20,20,150);
	padding: 1em 0;
	top:0;
	right:0;
	transform: translate(calc(.707 * (3.5em - 14em) + 14em), calc(-.707 * 3.5em))rotate(45deg);
	-webkit-animation: banner 2s;
	-webkit-animation-delay: 2s;
	animation: banner 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes banner{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes banner{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.palavras-home,
.titulo-principal{
  transform-style: preserve-3d;
}
.palavras-home{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home{
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 400%;
  color: rgb(210,210,255);
  position: absolute;
	-webkit-animation: palavra-home 2s; 
					animation: palavra-home 2s; 
}

@-webkit-keyframes palavra-home{
	from{
		opacity: 0;
		transform: scale(0.001);
	}
	to{
		opacity: 1;
	}
}

@keyframes palavra-home{
	from{
		opacity: 0;
		transform: scale(0.001);
	}
	to{
		opacity: 1;
	}
}

.html5{
    top: 48%;
    left: 60%;
		-webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
				transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}

.hibernate{
  top: 70%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.30);
          transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.30);
}

.springMVC{
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}
.tomcat{
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
}
.jQuery{
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}
.javascript {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.java {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.30);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.30);
}
.struts{
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
}
.css3 {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
}
.linux {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
}
.git{
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}

/* 2 - Main*/

/* 2.1 - Main General*/

main{
    width: 100%;
    padding-bottom: 0;
    float: none;
}

/*2.2 - Main Sections*/

.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}

/*2.2.1 - Main Section salutation*/

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
    font-size: 3em;
    color: #889;
}

.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
  color: rgb(30,30,180);
  font-size: 4em;
	position: relative;
	-webkit-animation: flutuar 1s infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	animation: flutuar 1s infinite;
	animation-timing-function: ease-in;
	animation-direction: alternate;
}

@-webkit-keyframes flutuar{
	from{
		top: -7px;
	}
	to{
		top:7px;
	}
}
@keyframes flutuar{
	from{
		top: -7px;
	}
	to{
		top:7px;
	}
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao-ultima-linha em {
    color: rgba(30,30,180,.8);
    font-size: 2.5em;
    padding-right:2em;
    display: inline-block;
    transform: skew(-10deg) rotate(-4deg);
}

/*2.2.1 - Main Section salutation (Pseudoclasses Dynamics)*/

.saudacao:hover em,
.saudacao:focus em{
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

/*2.2.2 - Main Section buttons*/

.botao-index {
	 text-decoration: none;
    font-size: 1.25em;
		background-color: rgb(20,20,150);
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
		box-shadow: 2px 2px 20px rgba(0,0,0,0.5),
								inset -2px -2px 20px rgba(100,100,100,0.5);
	transition: .5s;
}

/*pseudoclasses dynamics (:hover :focus :active)*/

.botao-index:hover,
.botao-index:focus{
	box-shadow: 1px 1px 10px #9AF;
	background-color: rgb(50,50,200);
}

/*2.2.3 - Main Section jobs*/

.trabalhos {
    background-color: rgb(20,20,150);
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    background-attachment: fixed;
    background-image: linear-gradient(135deg,transparent,transparent 14px,rgba(0, 0, 0,.1) 14px,rgba(0, 0, 0,.1)15px,transparent 15px,transparent);
    background-size: 20px 20px;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos img {
    display:block;
    width: 100%;
}

.trabalhos li{
		display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
}

.trabalhos li{
	border: .5em solid black;
}
.trabalhos ul {
  display: flex;
	justify-content: center;
}
.trabalhos li:first-child{
	order: 2;
	transform: scale(1.2);
}

.trabalhos li:nth-child(2){
	order: 1;
}

.trabalhos li:last-child{
	order: 3;
}

/*2.2.4 - Main Section blog*/

.blog{
    background-color: #777;
    color: #FFF;
    border-bottom: 10px solid rgb(20,20,150);
    padding-top: 2em;
    padding-left:3em;
    padding-bottom:2em;
    position:relative;
    background-attachment: fixed;
    background-image: linear-gradient(135deg,transparent, transparent 14px,rgba(255,255,255, .1)14px,rgba(255,255,255, .1)15px,transparent 15px,transparent);
    background-size: 20px 20px;
}
.blog li a{
  color: rgb(255,255,255);
  padding: .5em;
  display: block;
	font-weight: bolder;
	width: 30%;
	border-radius: 10px;
	transition:  .2s;
}
.blog .inicio-post{
	border-radius: 10px;
	background-color: #FFF;
	top: 4em;
  height: 8em;
  left: 30%;
  right: 4em;
	transition: .8s;
	position: absolute;
	background-color: #F2FFFC;
  color: rgb(50,50,200);
  padding: 1.9em;
	opacity: 0;
}

/*Pseudoclasses dynamics (:hover :focus :active)*/

.blog li a:hover{
  background-color: #F2FFFC;
	color: rgb(50,50,200);
	text-decoration: none;
	transition: .8s;
}
.blog li a:hover + p{
	opacity: 1;
	text-decoration: none;
	transition: .2s;
}

/*2.2.5 - Main Section footer*/

footer{
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2{
    font-size: 3em;
}
footer a{
    color: rgb(50,50,200);
}